.overlay-logement:hover{
background-color: rgba(0, 0, 0, 154);
}
.étoiles{
	height: 2em;
	width: auto;
}
.restaurant{
	height: 200px;
	width: auto;
}
.menus{
  text-align: center;
  font-size: 22px;
}
.hotel{
  margin-top: 5%;
    width: 90%;
  height: 141.5px;

}
.logement
{
  border-top: 2px solid rgb(200,200,200);
  border-bottom: 2px solid rgb(200,200,200);
  border-right: 2px solid rgb(200,200,200);
    border-left:  2px solid rgb(200,200,200);
margin-left: 5%; 
    width: 210px;
    text-align: center;
    box-shadow: 2px 2px 3px #aaa; 
    background-color: white;
        margin-bottom: 2%;
    }



    .flex{
    	display: flex;
      flex-wrap: wrap;
  
    	margin-top: 5em;
    	margin-left: 10%; 
    	font-family: 'Roboto', sans-serif;
    }

    h2 {

    	font-family: 'Source Sans Pro', sans-serif;
    	font-size: 35px;
    	margin-left: 5%;
    }
    body{
      background-color: #;
    }
      main
    {
      padding-bottom: 5em;
    }

@media (min-width: 100px) and (max-width: 1000px){

.menus{
  text-align: center;
  font-size: 15px;
}
.étoiles{
  height: 10%;
  width: auto;
}
.restaurant{
  height: 5em;
  width: auto;
}

.logement
{
  border-top: 2px solid rgb(200,200,200);
  border-bottom: 2px solid rgb(200,200,200);
  border-right: 2px solid rgb(200,200,200);
    border-left:  2px solid rgb(200,200,200);
margin-left: 5%; 
    width: 20%;
    height: 20em;
    text-align: center;
    box-shadow: 2px 2px 3px #aaa; 
    background-color: white;

    }
 .flex{
      display: flex;
      flex-wrap: wrap;
      margin-top: 5em;
      margin-left: 2%; 
      font-family: 'Roboto', sans-serif;
    }
  
    }